.homePage_Wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
  
}

.form_wrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color: #4aee88;
}

.input_group{
  display: flex;
  flex-direction: column;
}
.main_lable{
  margin-bottom: 20px;
  margin-top: 0;
}
.logo{
  margin-bottom: 30px;
}
.input_box{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.join, .leave_btn{
  background-color: #4aee88;
  width: 100px;
  margin-left: auto;
}
.join:hover, .leave_btn:hover{
  background-color: #2b824c;
}

.create_info{
  margin-top: 20px;
  text-align: center;
}

.create_new_btn{
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  transition: all 0.3s ease-in-out;
}

.create_new_btn:hover{
  color: #2b824c;
  border-color: #2b824c;
}

footer a:hover{
  color: #2b824c;
  border-color: #2b824c;
}

.main_wrapper{
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside{
  background: #1c1e29;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}

.aside_inner{
  flex: 1;
}

.clients_list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;

}

.username{
  margin-top: 10px;
}

.logo{
  border-bottom: 1px solid #424242;
  padding-bottom: 60px;
}

.logo_img{
  height: 60px;
}

.leave_btn{
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
}

.CodeMirror{
  min-height: calc(100vh-20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

